.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 500px; 
  height: 500px;
  top: 10%;
  left: calc(50% - 250px); /* Adjusted to center the slider */
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 10s linear infinite; /* Adjusted speed for better visibility */
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-25deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-25deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: 
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(400px); 

}

.banner .slider .item img {
  width: 150px; 
  height: auto; 
  object-fit: contain;
}
